header h1.row {
    color: white;
    background-color: #1a1f69;
    justify-content: center;
    height: 80px;
    align-content: center;
}

div#city-forecast {
    border: none;
    margin: 10px 0
}

div.col.card {
    margin: 0 10px;
    color: white;
    background-color: #0479ff;
    align-content: space-between;
}

